<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="MobileOptimized" content="320"></meta>
    {% block title %}
    <title>{{page_title}}</title>
    {% endblock %}
    {% block css %}
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <link type="text/javascript" rel="script" href="/test.js" />
    <link rel="icon" type="image/png" href="/ruslan-ok.png" />
    {% endblock %}
  </head>
  <body>
    {% block script %}
    {% endblock %}

    {% block header %}
    {% endblock %}

    {% block logo %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
  </body>
</html>
